# ===== ЗАЩИТА VENDOR =====
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^vendor/ - [F,L]
</IfModule>

# ===== ОТКЛЮЧЕНИЕ ЛИСТИНГА ДИРЕКТОРИЙ =====
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# ===== ЗАПРЕТ ДОСТУПА К СЛУЖЕБНЫМ ФАЙЛАМ (Apache 2.4) =====
<IfModule mod_authz_core.c>
    <FilesMatch "^(composer\.(json|lock)|README\.md)$">
        Require all denied
    </FilesMatch>
</IfModule>
